# Makefile to package PCPinball

VERSION=1.0-1
PACKAGES=PCPinball_$(VERSION)
INSTALL_TO=Temp/Apps/Games

all: build pkg

pkg:
	rm -rf Temp
	mkdir -p Temp/RiscPkg
	mkdir -p $(INSTALL_TO)
	cp RiscPkg/Copyright Temp/RiscPkg
	cp -rv Sprites Temp/Sprites
	cp -rv !PCPinball $(INSTALL_TO)/!PCPinball
	make -C Temp -f ../RiscPkg/Rules $(PACKAGES)
	rm -rf Temp

.PHONY: $(PACKAGES)
$(PACKAGES): %:
	riscpkg-gencontrol $(firstword $(subst _, ,$@)) < ../RiscPkg/Control > RiscPkg/Control
	rm -f ../RiscPkg/$@
	zip -r ../RiscPkg/$@ * -i@../RiscPkg/$(firstword $(subst _, ,$@)).inc


build:
	make -C !PCPinball/source
	make -C !PCPinball/source clean
